@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Slab:wght@500&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto Slab", serif;
}

/*HEADER*/
.encabezado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(245, 247, 248);
}
.encabezado h1 {
  text-transform: uppercase;
  font-weight: 700;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
  font-size: 2.5rem;
}

.logo {
  width: 150px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
  color: white;
}

.img-logo {
  height: 75px;
  width: 75px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

/* FOOTER */
footer {
  background-color: rgb(245, 247, 248);
  margin: 20px;
  padding: 20px;
  border-top: 1px solid black;
  text-align: center;
}

@media (max-width: 1300px) {
  .img-img {
    display: none;
  }
}
@media (max-width: 540px) {
  .row {
    justify-content: center;
  }
  footer h3 {
    font-size: 20px;
  }
  .rs-link {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .section_2-title {
    font-size: 30px;
  }
  .paragraph-text {
    font-size: inherit;
  }
}
@media (max-width: 650px) {
  .titleFaq,
  .questionsTitle {
    font-size: 20px;
  }
  .paragraphFaq {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .img-logo {
    display: none;
  }
}
/* MAIN */
main {
  margin: 20px;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
  margin: 20px 0px;
}

/* ABOUT */
.contenedores {
  margin: auto;
}

.section_2 {
  width: 75%;
  margin: auto;
  padding: 75px 0;
}

.section_2-title {
  font-size: 40px;
  font-weight: bold;
  margin: 25px 0;
}

.us {
  display: flex;
}

.us_text {
  width: 60%;
}

.us-paragraph {
  font-size: 18px;
  color: #333;
  padding: 0 10% 0 0;
  text-align: justify;
}

.paragraph-text {
  margin: 10px 0;
}

.us-rs {
  margin: 20px 0;
}

.us-rs-title {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0;
}

.rs-icon {
  margin: 20px 0;
}

.rs-link {
  margin: 0 10px;
}

.us-img {
  width: 40%;
}

.img-img {
  object-fit: contain;
  width: 100%;
  border-radius: 5px;
}

/* FORMULARIO */
form {
  margin-top: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.btn-formulario {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

/* FAQ */
.contenedorPreguntas {
  margin: 40px;
  padding: 40px;
  border-radius: 15px;
}

.preguntas p {
  font-size: 20px;
}
.preguntas h3 {
  font-size: 24px;
}

.faq {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* CARDS */
.btnCards {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btnCards:hover {
  background-color: #2a2525;
}

.producto-precio {
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

.producto-titulo {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.img-product {
  height: 250px;
  width: 250px;
}

.card {
  text-align: center;
  margin: 70px;
}

.card-image {
  align-self: center;
}

/* PRODUCTOS HOME */
.homeTitleCard {
  margin-top: 200px;
}

/* SLIDES */
.img-slides {
  width: 100%;
}

.slide {
  margin-top: 200px;
}

/* HOME */
.homeTitle {
  margin-top: 100px;
}

/*# sourceMappingURL=style.css.map */
