/* CARDS */

.btnCards {
    padding: 10px 20px;
    background-color: $color-negro;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #2a2525;
    }
}

.producto-precio {
    color: $color-negro;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

.producto-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.img-product {
    object-fit: contain;
}

.card {
    justify-content: center;
    text-align: center;
    margin: 70px;
}

.card-image {
    align-self: center;
}